<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rush.rushaicodemother.mapper.UserMapper">

    <select id="selectActiveByIds" resultType="com.rush.rushaicodemother.model.entity.User">
        SELECT id, userAccount, userPassword, userName, userAvatar, userProfile,
               userRole, creditBalance, editTime, createTime, updateTime, isDelete
        FROM `user`
        WHERE isDelete = 0
          AND id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>

    <update id="updateActiveAdministrationFields">
        UPDATE `user`
        <set>
            <if test="userName != null">userName = #{userName},</if>
            <if test="userAvatar != null">userAvatar = #{userAvatar},</if>
            <if test="userProfile != null">userProfile = #{userProfile},</if>
            <if test="userRole != null">userRole = #{userRole},</if>
            editTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{userId}
          AND isDelete = 0
    </update>

</mapper>
